study_plan.txt

# Mac OS
.DS_Store

# IDE
.idea

# this file can be downloaded from https://www.kaggle.com/c/titanic/data
train.csv

# this file can be downloaded from https://www.kaggle.com/uciml/pima-indians-diabetes-database
diabetes.csv

# this folder can be downloaded from https://archive.ics.uci.edu/ml/datasets/Human+Activity+Recognition+Using+Smartphones
human_activity

# this file can be downloaded from https://www.kaggle.com/competitions/santander-customer-satisfaction/data
train_santander.csv

# this file can be downloaded from https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud
creditcard.csv

# this file can be downloaded from https://www.kaggle.com/competitions/bike-sharing-demand
bike_train.csv

# this file can be downloaded from https://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients
pca_credit_card.xls

# this file can be downloaded from https://archive.ics.uci.edu/ml/datasets/online+retail
online_retail.xlsx

# this file can be downloaded from https://www.kaggle.com/competitions/word2vec-nlp-tutorial
labeledTrainData.tsv

# this file can be downloaded from https://archive.ics.uci.edu/ml/datasets/Opinosis+Opinion+%26frasl%3B+Review
OpinosisDataset1.0

# this file can be downloaded from https://github.com/e9t/nsmc
ratings_train.txt
ratings_test.txt

mercari_train.tsv